### Pyladies - Ho Chi Minh Chapter | Workshop 2: Variables and basic data types

Hello, welcome to the pair-programming assignment!

It's a pair assignment! Please work with another person to complete. 

There will be people around to answer your question. Feel free to raise your hands :)

#### Introduction

This assignment is partially adpated from an excercise of `Google Python developer class` to play around with baby names. We will walk you through again the previous content of presentations as well as add it up by some hands-on practices to read and write file, parse a string in a file from a complex file with a `re`, Regular Expression Python library.

Here includes ten practice excercises. The last will include 10 serial problems which rely on the previous nine. So, save your time as much as possible. Use `Ctrl+Shift+Tab` for suggestions and examples. And don't forget your friend, `Google`

#### Learning objectives
- Know how to import a library, read and write files
- Get familiar with basic built-in string methods
- Power-up yourself with `re` to process text of `html`

#### 1. Importing library

Let us pratice how to import a library in `python`. This time, we will start with a very common one named `sys`. Import a library and test by printing its documentation, `sys.__doc__`

#### 2. Regular Expression

Let us do the previous part again with `re` to prepare for the next step

In [78]:
import re

#### 3. How read a file

Here, we will show you how to read a text file in `python`. One of the most basic structure is 

```python
with open(path_to_textfile, "r") as f:
    text = f.read()
```

Here `path_to_textfile` is a variable representing for a string of your file location. Put a value to it and run a snippet.

In [13]:
path_to_html = # Should be a string
with open(path_to_html, "r") as f:
    text = f.read()

SyntaxError: invalid syntax (<ipython-input-13-2a9ccd81286e>, line 1)

In [ ]:
text

#### 4. How to process a file

In this section, we will spend time on learning how to split text into multiple items. Luckily, `python` has already supported us this part. Let use `split` method with an input `"\n"` to get a list of names, and then print the first ten elements. 

Hint: You can look at the next session to see how to do

In [97]:
text.split("\n")[:10]

['1 Michael Jessica',
 '2 Christopher Ashley',
 '3 Matthew Brittany',
 '4 Joshua Amanda',
 '5 Daniel Samantha',
 '6 David Sarah',
 '7 Andrew Stephanie',
 '8 James Jennifer',
 '9 Justin Elizabeth',
 '10 Joseph Lauren']

#### 5. How to get an element of a list

In `list` you can take the first `k` elements by adding the following after your list variable `[:k]`. You can try `[k]` to see a difference.

Notice: In `python`, the first index is `0`. Pay attention!!!

In [98]:
text.split("\n")[0]

'1 Michael Jessica'

In [99]:
# Code to extract name from a string '10 Joseph Lauren' => 10, 'Joshep', 'Lauren'
text.split("\n")[:10]

['1 Michael Jessica',
 '2 Christopher Ashley',
 '3 Matthew Brittany',
 '4 Joshua Amanda',
 '5 Daniel Samantha',
 '6 David Sarah',
 '7 Andrew Stephanie',
 '8 James Jennifer',
 '9 Justin Elizabeth',
 '10 Joseph Lauren']

##### 6. Extract the name

Great, here we are at the most interesting part of this assignment. In this part, we will parse every element of the list into three things, e.g. `index`, `first_name`, `last_name`. 

Take the first string element of the list, and then split by a blank `" "`.

Hint: You can name `index`, `first_name`, `last_name`  with respect to three correspondent results.

In [16]:
# Code to extract name from a string '10 Joseph Lauren' => 10, 'Joshep', 'Lauren'
index, first_name, last_name =

SyntaxError: invalid syntax (<ipython-input-16-5707f3898cf7>, line 1)

##### 7. Join two strings

In this part, you will learn how to join two strings together. Let us apply `+` to `first_name` and `last_name` to see what will happen.

In [18]:
# Code to join two string

##### 8. Check if a `full_name` ending with `Lauren`

In [ ]:
# Code to check a full_name ending with 'Lauren'

##### 9. Lowercase and uppercase a string

In [ ]:
# Code to lowercase your string. For example: Pyladies => pyladies

In [17]:
# Code to uppercase your string. For example: Pyladies => PYLADIES

##### 10. Using `re` to process text

The last excercise is trying to wrap-up your knowledge. This will combine many steps which we have already done so far. Keep calm and carry on!

a. Read a file `baby1990.html`

In [20]:
path_to_html = "./html/baby1990.html"
with open(path_to_html, "r") as f:
    text = f.read()

b. Print `text` to see how it looks

In [21]:
text[:100]

''

c. Split `text` by `"\n"' and print the first 10 strings

In [22]:
text.split("\n")[:100]

['']

d. Search a pattern and get a year by the following example

```python
year_pattern = r'Popularity\sin\s(\d\d\d\d)'
year_match = re.search(year_pattern, your_text_file)
year_match.group(1)
```

'1990'

e. Search a pattern and get index, first_name, last_name

```python
name_pattern = r'<td>(\d+)</td><td>(\w+)</td>\<td>(\w+)</td>'
tuples = re.findall(name_pattern, text)
tuples[:10]
```

In [123]:
tuples = re.findall(r'<td>(\d+)</td><td>(\w+)</td>\<td>(\w+)</td>', text)
tuples[:10]

[('1', 'Michael', 'Jessica'),
 ('2', 'Christopher', 'Ashley'),
 ('3', 'Matthew', 'Brittany'),
 ('4', 'Joshua', 'Amanda'),
 ('5', 'Daniel', 'Samantha'),
 ('6', 'David', 'Sarah'),
 ('7', 'Andrew', 'Stephanie'),
 ('8', 'James', 'Jennifer'),
 ('9', 'Justin', 'Elizabeth'),
 ('10', 'Joseph', 'Lauren')]

Another way for you to view the `tuple` is doing as following. 
```python
for index, first_name, family_name in tuples:
    print(first_name, family_name)
```
Try the above snippet and play around with it to see how it works

In [23]:
for index, first_name, family_name in tuples:
    print(first_name, family_name)

NameError: name 'tuples' is not defined

f. Finally, here we are showing you how to write everything by `def`

In [151]:
def print_first_name_upper_case(html_file):
    with open(html_file, 'r+') as f:
        text = f.read()
    tuples = re.findall(r'<td>(\d+)</td><td>(\w+)</td>\<td>(\w+)</td>', text)
    for _, first_name, _ in tuples[:10]:
        print(first_name.upper())

In [152]:
print_first_name_upper_case("./html/baby2008.html")

JACOB
MICHAEL
ETHAN
JOSHUA
DANIEL
ALEXANDER
ANTHONY
WILLIAM
CHRISTOPHER
MATTHEW